<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
  </head>

<body>

<h1>Manage Users</h1>
<br />
<div>You follow:</p>
<% for(var i = 0; i < user.following.length; i++) {%>
    <p><%= user.following[i] %></p>
<% } %>

</body>
</html>