<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
  </head>

<body>
    <h1>Welcome to Fritter</h1>

<!--TODO: style these -->
<% if (status == 'create successful') { %>
    <p>Account creation successful</p><br />
    <!--<div><a href="/fritter">Go to FritterFeed</a></div>-->
<% } if (status == 'create unsuccessful') { %>
    <p>Account creation failed, please try again.</p>
<% } if (status == 'login unsuccessful') { %>
	<p>Login failed, please try again</p>
<% } else { %>
	<p>&nbsp;</p>
<% } %>


<form name="loginForm" action="/login" method="post">
    Log in:<br />
    <label for="user_box">Username:</label>
    <input type="text" name="user_box" id="user_login" placeholder="username" /> 
    <label for="password_box">Password:</label>
    <input type="password" name="password_box" id="password_login" placeholder="password" />
    <input type="submit" value="Log in"/>
</form>

<br />
<form name="createUserForm"  action="/create_user" method="post">
    Create New Account:</br>
    <label for="user_create">Username:</label>
    <input type="text" name="user_create" id="user_create" /><br />
    <label for="password1">Password:</label>
    <input type="password" name="password_create" id="password_create" /><br />
    <label for="password2">Confirm password:</label>
    <input type="password" name="password_create_confirm" id="password_create_confirm" /><br />
    <input type="submit" value="Create Account" />
</form>

</body>
</html>
