<!DOCTYPE html>
<html>
  <head>
    <title>Fritter</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
  </head>

<body>

<br />
<form name="createUserForm"  action="/create_user" method="post">
    Create New Account:</br>
    <label for="user_create">Username:</label>
    <input type="text" name="user_create" id="user_create" /><br />
    <label for="password1">Password:</label>
    <input type="password" name="password_create" id="password_create" /><br />
    <label for="password2">Confirm password:</label>
    <input type="password" name="password_create_confirm" id="password_create_confirm" /><br />
    <input type="submit" value="Create Account" />
</form>

</body>
</html>